eliens_notebook_*.aux
eliens_notebook_*.fls
eliens_notebook_*.log
eliens_notebook_*.out
eliens_notebook_*.fdb_latexmk
eliens_notebook_*.toc
pegaraw_notebook*.aux
pegaraw_notebook*.fls
pegaraw_notebook*.log
pegaraw_notebook*.out
pegaraw_notebook*.fdb_latexmk
pegaraw_notebook*.toc
contents_*.tex
